* {
  box-sizing: border-box;
  border: 1px solid black;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: inherit;
}
:root {
  font-size: 10px;
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 10px;
  height: 100vh;
  overflow: hidden;
}
#weatherWidget {
  width: 500px;
  height: 300px;
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  gap: 10px;
}
#widgetMain {
  height: 200px;
}
#widgetInput {
  padding: 10px;
  height: 70px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
label {
  height: 100%;
  font-size: large;
}
input {
  height: 100%;
  font-size: large;
  text-align: center;
}
button {
  height: 50px;
  flex: 1;
}
